python/
models/
cache/
temp/
output/
downloads/
ffmpeg/
voices/
lora/
train_data/
cuda_version.txt
install_log.txt
run_log.txt
_input.txt
_test_install.bat
_auto_install.bat
install_err.txt

__pycache__/
*.pyc
*.pyo
.venv/
venv/
.idea/
.vscode/
*.log
